# 의존성/빌드 캐시
node_modules
.next
dist

# 환경설정/비밀 정보
.env
.env.*
npm-debug.log
yarn-error.log

# Git 관련
.git
.gitignore

# 에디터 설정
.vscode
.idea
*.swp

# 테스트/CI
coverage
__tests__/
jest.config.js
.github/

# 문서/메타
README.md
LICENSE
Dockerfile
.dockerignore
tsconfig.json

# macOS / Windows 시스템 파일
.DS_Store
Thumbs.db
